<div class="container mt-5">
  <div class="row justify-content-md-center">

        <div>
          <strong>Html To PDF in Angular Application</strong>
          </div>
          <div>
          <input type="button" value="Convert" (click)="convetToPDF()"/>
          </div>

          <pre>

          <div>
          <table id="contentToConvert" >
     <tbody>

<table class="center">
<tbody>


            <tr >
              <th rowspan="4" ><img src="assets/images/bpo.png"  >&nbsp; &nbsp;</th>
              <th  >Dentiste Contrôleur : <i contenteditable='true'>...</i></th>
              <th rowspan="4">&nbsp; &nbsp;<img src="assets/images/bpo.png" ></th>
            </tr>
            <tr>
              <th  contenteditable='true' >Matricule fiscale : <i contenteditable='true'>...</i></th>
            </tr>
            <tr>
              <th  contenteditable='true' >Adresse : <i contenteditable='true'>...</i> </th>
            </tr>
            <tr>
              <th  contenteditable='true' >Téléphone : <i contenteditable='true'>...</i></th>
            </tr>


</tbody>
</table>
<br>
<table class="center">
  <thead>

      <th> Facture N° : <i contenteditable='true'>...</i></th> <th>&nbsp;</th> <th > Date : <i contenteditable='true'>202*/**/**</i></th>

  </thead>
</table>
<br>
<table border>
  <tbody>
    <tr>
      <th>ID </th>
      <th>Matricule de l’assuré</th>
      <th>Nom de l’assuré</th>
      <th>Nom du Bénéficiaire </th>
      <th>Qualité du Bénéficiaire</th>
      <th>Date de la Contre
        Visite </th>
      <th>Montant </th>
    </tr>
    <tr>
    <td>1</td>
    <td contenteditable='true' ></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    </tr>
    <tr>
      <td>2</td>
      <td contenteditable='true' ></td>
      <td contenteditable='true'></td>
      <td contenteditable='true'></td>
      <td contenteditable='true'></td>
      <td contenteditable='true'></td>
      <td contenteditable='true'></td>
      </tr>
      <tr>
        <td>3</td>
        <td contenteditable='true' ></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        </tr>
        <tr>
          <td>4</td>
          <td contenteditable='true' ></td>
          <td contenteditable='true'></td>
          <td contenteditable='true'></td>
          <td contenteditable='true'></td>
          <td contenteditable='true'></td>
          <td contenteditable='true'></td>
          </tr>
          <tr>
            <td>5</td>
            <td contenteditable='true' ></td>
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
            </tr>
            <tr>
              <td>6</td>
              <td contenteditable='true' ></td>
              <td contenteditable='true'></td>
              <td contenteditable='true'></td>
              <td contenteditable='true'></td>
              <td contenteditable='true'></td>
              <td contenteditable='true'></td>
              </tr>
              <tr>
                <td>7</td>
                <td contenteditable='true' ></td>
                <td contenteditable='true'></td>
                <td contenteditable='true'></td>
                <td contenteditable='true'></td>
                <td contenteditable='true'></td>
                <td contenteditable='true'></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td contenteditable='true' ></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td contenteditable='true' ></td>
                    <td contenteditable='true'></td>
                    <td contenteditable='true'></td>
                    <td contenteditable='true'></td>
                    <td contenteditable='true'></td>
                    <td contenteditable='true'></td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td contenteditable='true' ></td>
                      <td contenteditable='true'></td>
                      <td contenteditable='true'></td>
                      <td contenteditable='true'></td>
                      <td contenteditable='true'></td>
                      <td contenteditable='true'></td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td contenteditable='true' ></td>
                        <td contenteditable='true'></td>
                        <td contenteditable='true'></td>
                        <td contenteditable='true'></td>
                        <td contenteditable='true'></td>
                        <td contenteditable='true'></td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td contenteditable='true' ></td>
                          <td contenteditable='true'></td>
                          <td contenteditable='true'></td>
                          <td contenteditable='true'></td>
                          <td contenteditable='true'></td>
                          <td contenteditable='true'></td>
                          </tr>
                          <tr>
                            <td>13</td>
                            <td contenteditable='true' ></td>
                            <td contenteditable='true'></td>
                            <td contenteditable='true'></td>
                            <td contenteditable='true'></td>
                            <td contenteditable='true'></td>
                            <td contenteditable='true'></td>
                            </tr>
                            <tr>
                              <td>14</td>
                              <td contenteditable='true' ></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              </tr>
                              <tr>
                                <td>15</td>
                                <td contenteditable='true' ></td>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                <tr>
                                  <td>16</td>
                                  <td contenteditable='true' ></td>
                                  <td contenteditable='true'></td>
                                  <td contenteditable='true'></td>
                                  <td contenteditable='true'></td>
                                  <td contenteditable='true'></td>
                                  <td contenteditable='true'></td>
                                  </tr>
                                  <tr>
                                    <td>17</td>
                                    <td contenteditable='true' ></td>
                                    <td contenteditable='true'></td>
                                    <td contenteditable='true'></td>
                                    <td contenteditable='true'></td>
                                    <td contenteditable='true'></td>
                                    <td contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                      <td>18</td>
                                      <td contenteditable='true' ></td>
                                      <td contenteditable='true'></td>
                                      <td contenteditable='true'></td>
                                      <td contenteditable='true'></td>
                                      <td contenteditable='true'></td>
                                      <td contenteditable='true'></td>
                                      </tr>
                                      <tr>
                                        <td>19</td>
                                        <td contenteditable='true' ></td>
                                        <td contenteditable='true'></td>
                                        <td contenteditable='true'></td>
                                        <td contenteditable='true'></td>
                                        <td contenteditable='true'></td>
                                        <td contenteditable='true'></td>
                                        </tr>
                                        <tr>
                                          <td>20</td>
                                          <td contenteditable='true' ></td>
                                          <td contenteditable='true'></td>
                                          <td contenteditable='true'></td>
                                          <td contenteditable='true'></td>
                                          <td contenteditable='true'></td>
                                          <td contenteditable='true'></td>
                                          </tr>
                                          <tr>
                                            <td colspan="6" style="text-align-last: right;">Totale :</td>
                                            <td> </td>
                                          </tr>
  </tbody>

</table><br>
<p> Arrêtée la présente facture à la somme de (en lettres) : <i contenteditable='true'>...</i></p>
<p style="text-align-last: right;">Cachet & Signature &nbsp; &nbsp; &nbsp;</p>
     </tbody>

  </table>
  </div>
  </pre>



</div>
</div>

