
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-11">
      <h2>Envoyer un document</h2>
      <br>
      <form>
      <div class="col-md-6 mb-4">
        <label for="validationDefault01">Bulletin de soins</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event, 1)">
          <label class="custom-file-label" for="inputGroupFile01">{{ fileNames[0] }}</label>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <label for="validationDefault01">Ordonnance</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileSelected($event, 2)">
          <label class="custom-file-label" for="inputGroupFile02">{{ fileNames[1] }}</label>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <label for="validationDefault01">Chercher un médecin</label>
        <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control"placeholder="Tapez le username." (input)="filterUsers()"><br>


        <mat-label for="validationDefault01">Veuillez sélectionner un médecin contrôleur.</mat-label>
        <select  class="form-control form-select" aria-label="Default select example" (change)="onSelect($event)">
          <option selected disabled>Cliquer ici</option>
          <option  *ngFor="let user of filteredUsers" [value]="user.id">{{ user.username }}</option>
        </select>

      </div>
      <button class="btn btn-primary" type="button" (click)="uploadFiles()">Upload Files</button>
</form>
    </div>
  </div>
</div>




