<div class="container mt-5 d-flex justify-content-center">
  <div class="col-md-7 card shadow-sm">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Connexion</h3>
      <form (submit)="onLoggedin()">
        <div class="alert alert-danger" *ngIf="err === 1">
          <strong>{{ message }}</strong>
        </div>

        <div class="form-group mb-3">
          <label for="username">Nom d'utilisateur :</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="user.username"
            required
          />
        </div>

        <div class="form-group mb-3">
          <label for="password">Mot de passe :</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            required
          />
        </div>

        <div class="d-flex justify-content-between mb-3">
          <p>
            Vous n'avez pas de compte?
            <a routerLink="/register">S'inscrire</a>
          </p>
          <p>
            <a routerLink="/recuperer">Mot de passe oublié?</a>
          </p>
        </div>

        <button type="submit" class="btn btn-success w-100">Connexion</button>
      </form>
    </div>
  </div>
</div>
