<div class="content w-full " style="padding: 30px;">

  <div *ngIf="loading==true" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="filter-container">
    <div class="input-group mb-3">
      <mat-form-field class="flexible-search">
        <input matInput [(ngModel)]="searchText" placeholder="Filter par numéro de document..." >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date" [(ngModel)]="startDate" >
          <input matEndDate formControlName="end" placeholder="End date" [(ngModel)]="endDate" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="content w-full" style="padding: 30px;">
    <ng-container *ngIf="filter.length > 0; else noDocuments">
      <div *ngFor="let document of filter.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)">

        <div class="card">
          <h6 class="card-header"> {{document.dateAffectation}}</h6>
          <div class="card-body">
            <h5 class="card-title"> <b>Document N° </b>{{document.id}}</h5>
            <p class="card-text"> <b>Agent ID : </b>{{document.agentId}} <br> <b>Bulletin : </b> {{document.nomBulletin}} <br>  <b>Ordennance : </b> {{document.nomOrdenance}}</p>

          </div>
          <div class="card-footer text-right">

            <a  class="btn btn-light " style="background: #81ba41; color: white; width: 120px;" (click)="detail(document)">Traiter</a>
          </div>
        </div>
        <br>
        </div>

      <br>


        <mat-paginator
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [length]="filter.length"
          (page)="handlePageChange($event)"
        ></mat-paginator>
        <br>
      </ng-container>

      <ng-template #noDocuments>
        <h3>Aucun document trouvé</h3>
      </ng-template>
    </div>

  </div>

