<div class="container mt-5 row justify-content-md-center">
  <div class="row justify-content-md-center">

        <div>
          <strong>Html To PDF in Angular Application</strong>

          <input type="button" value="Convert" (click)="convertToPDF()"/>
          </div>

          <pre>
          <div id="contentToConvert" >
<div style="margin-left: 20px; margin-right: 20px;">
          <table>
     <tbody>

            <tr>
              <th ><img src="assets/images/bpo.png" style="width: 100px;"></th>
            </tr>


          <tr>
          <td><strong>Nom :</strong> <i contenteditable='true'>...</i></td>

          </tr>
          <tr>
          <td><strong>Adresse :</strong> <i contenteditable='true'>...</i></td>
          </tr>

          <tr>
          <td><strong>MF :</strong> <i contenteditable='true'>...</i></td>
          </tr>


<tr>
   <p>Client : « ASTREE Assurances»,
    Souscripteur : CTF
    Adresse : Avenue Kheireddine Pacha, BP.780 TUNIS Cedex
    Matricule Fiscale : TVA 000080S/P/M/000
    Convention N° <i contenteditable='true'>...</i></p>
</tr>

<table border="1" class="container mt-3" >
  <thead>

<tr>

      <th class="text-center" >N°</th>
      <th class="text-center" >DSCRIPTION DE PRESTATIONS </th>
      <th class="text-center" > Montant HT </th>
      <th class="text-center">Montant TTC</th>

</tr>

</thead>
<tbody>
  <tr>

    <th>1</th>
    <th  contenteditable='true'></th>
    <th  contenteditable='true'></th>
    <th  contenteditable='true'></th>


</tr>
<tr>

  <th>2</th>
  <th  contenteditable='true'></th>
  <th  contenteditable='true'></th>
  <th  contenteditable='true'></th>


</tr>
<tr>

  <th>3</th>
  <th  contenteditable='true'></th>
  <th  contenteditable='true'></th>
  <th  contenteditable='true'></th>


</tr>


</tbody>
</table>

<table border="1" class="container mt-5" >

<tbody>
  <tr>


    <th class="text-center"  rowspan="5">Pour votre règlement par virement à notre CCB
Banque : <i contenteditable='true'>...</i>
Agence : <i contenteditable='true'>...</i>
RIB : <i contenteditable='true'>...</i>
    </th>
    <th class="text-center"  >TOTAL HT</th>
    <th class="text-center"  > <i contenteditable='true'>...</i> </th>

</tr>


<tr>
  <th class="text-center"  >TVA </th>
  <th class="text-center"  ><i contenteditable='true'>...</i></th>
</tr>
<tr>
  <th class="text-center"  >TOTAL TTC  </th>
  <th class="text-center"  ><i contenteditable='true'>...</i></th>
</tr>
<tr>
  <th class="text-center"  >Droit de Timbre  </th>
  <th class="text-center"  ><i contenteditable='true'>...</i></th>
</tr>
<tr>
  <th class="text-center"  >Net à payer  </th>
  <th class="text-center"  ><i contenteditable='true'>...</i></th>
</tr>
</tbody>
</table>

<tr >
  <th class="container mt-5"><i>Arrêtée la présente facture à la somme de <i contenteditable='true'>...</i></i> </th>
</tr>
<tr>
  <td> </td>
</tr>
<tr >
  <th  style="text-align-last: right;">Cachet & Signature &nbsp; &nbsp; &nbsp;</th>
</tr>

</tbody>
</table>
</div>
</div>
</pre>
  </div>
</div>
