<div class="container mt-5">
  <div class="justify-content-md-center">
    <div>
      <strong>Html To PDF in Angular Application</strong>
    </div>
    <div>
      <input type="button" value="Convert" (click)="convetToPDF()" />
    </div>

    <pre >
          <div id="content">

          </div>
          <div>

          <table id="contentToConvert"  class="center" >
     <tbody>

            <tr>
              <th ><img src="assets/images/bpo.png" style="width: 100px;"></th>
            </tr>


          <tr>
          <td><strong>Nom :</strong></td>

          </tr>
          <tr>
          <td><strong>Adresse :</strong></td>
          </tr>

          <tr>
          <td><strong>MF :</strong></td>
          </tr>


<tr>
   <p>Client : « ASTREE Assurances»,
    Souscripteur : CTF
    Adresse : Avenue Kheireddine Pacha, BP.780 TUNIS Cedex
    Matricule Fiscale : TVA 000080S/P/M/000
    Convention N°</p>
</tr>

<table border="1" class="container mt-3" >
  <thead>

<tr>

      <th class="text-center" >N°</th>
      <th class="text-center" >DSCRIPTION DE PRESTATIONS </th>
      <th class="text-center" > Montant HT </th>
      <th class="text-center">Montant TTC</th>

</tr>

</thead>
<tbody>
  <tr>

    <th>1</th>
    <th></th>
    <th></th>
    <th></th>


</tr>
<tr>

  <th>2</th>
  <th></th>
  <th></th>
  <th></th>


</tr>
<tr>

  <th>3</th>
  <th></th>
  <th></th>
  <th></th>


</tr>


</tbody>
</table>

<table border="1" class="container mt-5" >

<tbody>
  <tr>


    <th class="text-center"  rowspan="5">Pour votre règlement par virement à notre CCB
Banque :
Agence :
RIB :
    </th>
    <th class="text-center"  >TOTAL HT</th>
    <th class="text-center"  >  </th>

</tr>


<tr>
  <th class="text-center"  >TVA </th>
  <th class="text-center"  ></th>
</tr>
<tr>
  <th class="text-center"  >TOTAL TTC  </th>
  <th class="text-center"  >            </th>
</tr>
<tr>
  <th class="text-center"  >Droit de Timbre : </th>
  <th class="text-center"  ></th>
</tr>
<tr>
  <th class="text-center"  >Net à payer  </th>
  <th class="text-center"  ></th>
</tr>
</tbody>
</table>

<tr >
  <th class="container mt-5"><i>Arrêtée la présente facture à la somme de ...........................</i> </th>
</tr>
<tr>
  <td> </td>
</tr>
<tr >
  <th  style="text-align-last: right;">Cachet&Signature ................</th>
</tr>

</tbody>
</table>
</div>
</pre>
  </div>
</div>
