<div class="container mt-5">
  <div class="row justify-content-md-center">

        <div>
          <strong>Html To PDF in Angular Application</strong>
          </div>
          <div>
          <input type="button" value="Convert" (click)="convetToPDF()"/>
          </div>

          <pre>
          <div id="contentToConvert" >
            <div style="margin-left: 20px; margin-right: 20px;">
          <table   >
     <tbody>

<table  >
<tbody>
            <tr>
              <th ><img src="assets/images/bpo.png" style="width: 100px;"></th>
              <th class="text-center" style="width:70%">Rapport de contre visite</th>
              <th   style="width:40%">Date : <i contenteditable='true'>2024/**/**</i> </th>
            </tr>





          <tr>
          <td><i>Mr / Mme / Mlle :</i> </td>
          <td colspan="2"><i contenteditable='true'></i></td>
          </tr>
          <tr>
          <td><i>Prestataire(e) :</i></td>
          <td colspan="2"><i contenteditable='true'></i></td>
          </tr>

          <tr>
          <td><i>Adhésion :</i></td>
          <td colspan="2"><i contenteditable='true'></i></td>
          </tr>

          <tr>
          <td><i>Numéro du dossier :</i></td>
          <td colspan="2"><i contenteditable='true'></i></td>
          </tr>
        </tbody>
</table>


<table border="2" class="container mt-5" >
  <thead>
    <tr>
      <th colspan="5" class="text-center"> ACTES DE SOINS DENTAIRES </th>
    </tr>

    <tr>
      <td colspan="5" class="text-center">Il est indispensable d’indiquer la dent traitée, de désigner les actes pratiqués en se référant aux codes
        et cotations de la nomenclature officielle  </td>
    </tr>
<tr>

      <th class="text-center" style="width:15%">DATE</th>
      <th class="text-center" style="width:10%">DENT</th>
      <th class="text-center" style="width:10%">CODE ACTE</th>
      <th class="text-center"style="width:10%">COTATION</th>
      <th class="text-center" style="width:40%">avis médical</th>

</tr>



</thead>
<tbody>
  <tr>

    <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>

</tr>
<tr>
  <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>

</tr>
<tr>
  <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>

</tr>
<tr>
  <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>

</tr>


</tbody>
</table>
<tr>

  <th class="text-center">
    <img src="assets/images/dents.png" style="height: 300px;" >
  </th>
</tr>
<table border="2" class="container mt-5" >
  <thead>
    <tr>
      <th colspan="5" class="text-center"> PROTHESES DENTAIRES  </th>
    </tr>

<tr>

      <th class="text-center" style="width:15%">DATE</th>
      <th class="text-center" style="width:10%">DENT</th>
      <th class="text-center" style="width:10%">CODE ACTE</th>
      <th class="text-center"style="width:10%">COTATION</th>
      <th class="text-center" style="width:40%">avis médical</th>

</tr>



</thead>
<tbody>
  <tr>

    <td contenteditable='true'></td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>
    <td contenteditable='true'></td>
    <td contenteditable='true'> </td>

</tr>
<tr>

  <td contenteditable='true'></td>
  <td contenteditable='true'></td>
  <td contenteditable='true'> </td>
  <td contenteditable='true'></td>
  <td contenteditable='true'> </td>

</tr>



</tbody>
</table>

<tr >
  <th class="container mt-5"><i>OBSERVATION : </i> <i contenteditable='true'>...........................</i> </th>
</tr>

<tr >
  <th  style="text-align-last: right;">Le médecin Dentiste <i contenteditable='true'>...........................</i></th>
</tr>

          </tbody>
          </table>
          </div>
        </div>
          </pre>



      </div></div>
