.center {
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex; /* Affiche les éléments dans le conteneur en ligne */
  align-items: center; /* Centre les éléments verticalement */
  gap: 10px; /* Espacement horizontal entre les éléments */
}
