
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/framework.css" />
    <link rel="stylesheet" href="css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 p-relative">
        <h3 class="p-relative txt-c mt-0" style="font-size: 20px;">I-MedController</h3>
        <ul>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" routerLink="/">
              <i class="fa-regular fa-user fa-fw"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a *ngIf="authService.loggedUser" class="active d-flex align-center fs-14 c-black rad-6 p-10"  routerLink="/profile">
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a *ngIf="authService.loggedUser" class="d-flex align-center fs-14 c-black rad-6 p-10" routerLink="/demupdate">
              <i class="fa-solid fa-gear fa-fw"></i>
              <span>Liste des demandes</span>
            </a>
          </li>


        </ul>
      </div>
      <div class="content w-full">
        <!-- Start Head -->
        <div class="head bg-white p-15 between-flex">
          <div>
            {{authService.loggedUser}}
          </div>
          <div class="icons d-flex align-center">

            <a (click) = "onLogout()">Deconnexion</a>
          </div>
        </div>



          <div class="welcome bg-white rad-10 txt-c-mobile block-mobile">

        <router-outlet></router-outlet>
          </div>

      </div>
    </div>
  </body>
</html>

