
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/framework.css" />
    <link rel="stylesheet" href="css/master.css" />



  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar " style="background-color:rgba(35,156,235,255)"  *ngIf="authService.loggedUser">
        <img src="assets/images/logo.png" >
        <hr style="background-color: aliceblue;">
        <ul>
          <li>
            <a   class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/home">
              <i class="fa-solid fa-folder-tree"></i>
              <span>Tous les dossiers à traiter</span>
            </a>
          </li>
          <li>
            <a  class=" d-flex align-center fs-14 c-white rad-6 p-10"  routerLink="/profile">
              <i class="fa-regular fa-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/allUsers">
              <i class="fa-solid fa-users"></i>
              <span>Liste des utilisateurs</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/demupdate">
              <i class="fa-solid fa-list-check"></i>
              <span>Liste des demandes</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/senddoc">
              <i class="fa-solid fa-folder-plus"></i>
              <span>affecter un dossier</span>
            </a>
          </li>



          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/mesDocs">
              <i class="fa-solid fa-folder-tree"></i>
              <span>dossiers à traiter</span>
            </a>
          </li>

          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/processedDocs">
              <i class="fa-solid fa-clipboard-check"></i>
              <span>dossiers traités</span>
            </a>
          </li>

          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/etatDoc">
              <i class="fa-regular fa-folder-open"></i>
              <span>Suivi des dossiers</span>
            </a>
          </li>
          <li >
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/docsFact">
              <i class="fa-solid fa-file-invoice-dollar"></i>
              <span>Factures</span>
            </a>
          </li>
          <li >
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/listFact">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              <span>Mes factures</span>
            </a>
          </li>
          <li >
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/historique">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <span>Historique</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/listReclamations">
              <i class="fa-solid fa-circle-exclamation"></i>
              <span>List des réclamations</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-white rad-6 p-10" routerLink="/Reclamation">
              <i class="fa-solid fa-circle-exclamation"></i>
              <span>Reclamation</span>
            </a>
          </li>

        </ul>
      </div>
      <div class="content w-full" >
        <!-- Start Head -->
        <div class="head  p-15 between-flex"  style=" background: linear-gradient(338deg, rgba(129,186,65,1) 21%, rgba(35,156,235,1) 77%);"*ngIf="authService.loggedUser">
          <div class="c-white">
            {{authService.loggedUser}}
          </div>
          <div class="icons d-flex align-center">

            <a class="c-white" (click)="onLogout()"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Deconnexion </a>

          </div>
        </div>




          <div class="content w-full" style="padding: 20px;">

              <router-outlet></router-outlet>
        </div>

      </div>
    </div>

    <footer class="section footer-classic context-dark bg-image" style=" background:#c0c0c0; color:black; " >
      <div class="container ">
        <div>&nbsp;</div>
        <div class="row row-30">
          <div class="col-md-4 col-xl-5">
            <div ><a ><img  src="assets/images/bpo.png" alt="logo" ></a><br>
              <b>La performance au quotidien dans la gestion <br> de vos contrats d’assurance maladie</b>
              <!-- Rights-->

            </div>
          </div>
          <div class="col-md-4">
            <h5>Contacts</h5>
            <dl class="contact-list">
              <dt>Address:</dt>
              <dd>Immeuble Rahma, Bloc A, Appt 2, 2092 El Manar 1, Tunis, Tunisie</dd>
            </dl>
            <dl class="contact-list">
              <dt>Adresse de contact générale :</dt>
              <dd><a href="mailto:#"> <p>contact&#64;-sante.tn</p></a></dd>
            </dl>
            <dl class="contact-list">
              <dt> Pour déposer une réclamation :</dt>
              <dd><a href="mailto:#"> <p> reclamation&#64;i-sante.tn </p></a></dd>
            </dl>
            <dl class="contact-list">
              <dt>phones:</dt>
              <dd>TEL : (+216) 74 400 185 / (+216) 70 861 360 <br> FAX : (+216) 70 861 334
              </dd>
            </dl>
          </div>
          <div class="col-md-4 col-xl-3">
            <h5>Links</h5>
            <ul class="nav-list">
              <li><a href="https://i-sante.tn/">About</a></li>

            </ul>
          </div>
        </div>
      </div>

    </footer>

  </body>

</html>

