<div class="container mt-5">
  <div class="justify-content-md-center">

        <div>
          <strong>Html To PDF in Angular Application</strong>
          </div>
          <div>
          <input type="button" value="Convert" (click)="convetToPDF()"/>
          </div>

          <pre>
          <div id="content">
          <div></div>
          </div>
          <div>
          <table id="contentToConvert"  class="center" >
     <tbody>

<table >
<thead>
            <tr >
              <th  style="width:10%"><img src="assets/images/bpo.png" style="width: 100px;"></th>
              <th class="text-center" style="width:70%">Rapport de contre visite <br> N°......</th>
              <th   style="width:20% ">Date :</th>
            </tr>
</thead>

            <tbody>



          <tr>
          <td><i>Mr / Mme / Mlle :</i></td>

          </tr>
          <tr>
          <td><i>Bénéficiaire:</i></td>
          </tr>

          <tr>
          <td><i>Qualité de bénéficiaire <br>(Lui-même, conjoint, Enfant) </i></td>
          </tr>

          <tr>
          <td><i>Adhésion : </i></td>
          </tr>
          <tr>
            <td><i>Numéro du dossier : </i></td>
          </tr>

          <tr>
            <td><i>Correction Optique :  </i></td>
            </tr>
        </tbody>
</table>


<table border="2" class="container mt-5" >

<tbody>
  <tr>

        <th class="text-center"  rowspan="2">OD</th>
        <th class="text-center"  >Sph</th>
        <th class="text-center"  >Cyl</th>
        <th class="text-center" >Axe</th>
        <th class="text-center"  >Add</th>
        <th class="text-center"  rowspan="2">OG</th>
        <th class="text-center"  >Sph</th>
        <th class="text-center"  >Cyl</th>
        <th class="text-center" >Axe</th>
        <th class="text-center"  >Add</th>
  </tr>

    <tr>

      <th class="text-center"  > </th>
      <th class="text-center"  ></th>
      <th class="text-center"  ></th>
      <th class="text-center" ></th>
      <th class="text-center"  ></th>
      <th class="text-center"  ></th>
      <th class="text-center"  ></th>
      <th class="text-center"  ></th>



  </tr>

  </tbody>
  </table>

  <tr>
    <td><i>Prix de la monture : </i></td>

    </tr>
    <tr>
    <td><i>Nature des verres achetés : </i></td>
    </tr>

    <tr>
    <td><i>Prix des verres achetés : </i></td>
    </tr>

    <tr>
    <td><i>Prix des verres en blanc :  </i></td>
    </tr>
    <tr>
      <td > <h5><i><b>OBSERVATION  </b>:</i></h5></td>
    </tr>

    <tr>
      <td><i>Téléphone :  </i></td>
      </tr>
      <tr >
        <th  style="text-align-last: right;">Opticien : ......</th>
      </tr>


      <tr>
        <td>Coupon Opticien</td>
      </tr>
      <tr>
        <td><strong>Référence du BS :</strong> </td>
      </tr>

  <table border="1" class="container">

  <tbody>
    <tr style="height: 80px; vertical-align: top;" >
      <th>Date du passage pour Contre Visite : </th>
      <th>Signature Adhérent :  </th>
  </tr>
  </tbody>
  </table>
  *************************************************************************************
  <tr>
    <td>Coupon Opticien</td>
  </tr>
  <tr>
    <td><strong>Référence du BS :</strong> </td>
  </tr>
  <table border="1" class="container">

    <tbody>
      <tr style="height: 80px; vertical-align: top;" >
        <th>Date du passage pour Contre Visite : </th>
        <th>Signature Opticien :  </th>
    </tr>
    </tbody>
    </table>
    <tr>
      <td>
<strong>NB :</strong>  A garder ce coupon pour justif en cas de besoin
      </td>
    </tr>

            </tbody>
            </table>

        </div>
        </pre>




      </div></div>
