<div class="container">
  <div class="centered-pre">
    <div class="button-container" >
      <button class="button" mat-stroked-button color="primary"  (click)="convertToPDF()">
        <span class="button__text">Download</span>
        <span class="button__icon">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M16.444 18H19a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2.556M17 11V5a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v6h10ZM7 15h10v4a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-4Z"/>
          </svg>

        </span>
      </button>
      <button class="print-btn" mat-stroked-button color="primary" (click)="printContent()">
        <span class="printer-wrapper">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
          </svg>

        </span>
        Print
      </button>
    </div>


          <div id="contentToConvert" class="print-content" #contentToPrint >
            <div style="margin-left: 20px; margin-right: 20px;">
              <pre>
          <table>
     <tbody>

      <table>
          <tr>
            <th ><img src="assets/images/bpo.png" style="width: 100px;"></th>
            <th class="text-center" style="width:70%">Rapport de contre visite</th>
            <th   style="width:40%">Date : <i contenteditable='true'>2024/**/**</i> </th>
          </tr>

</table>

<table >
 <tbody>
                  <tr>
                  <td><i>Mr / Mme / Mlle :</i> <i contenteditable='true'>...</i></td>

                  </tr>

                  <tr>
                  <td><i>Bénéficiaire :</i> <i contenteditable='true'>...</i></td>

                  </tr>

                  <tr>
                  <td><i>Qualité de bénéficiaire (Lui-même, conjoint, Enfant) : </i> <i contenteditable='true'>...</i></td>

                  </tr>

                  <tr>
                  <td><i>Numéro du dossier :</i> <i contenteditable='true'>...</i></td>

                  </tr>

                </tbody>
        </table>

<table border="2" class="container mt-5" >

<tbody>
  <tr>

        <th class="text-center"  rowspan="2">OD</th>
        <th class="text-center"  >Sph</th>
        <th class="text-center"  >Cyl</th>
        <th class="text-center" >Axe</th>
        <th class="text-center"  >Add</th>
        <th class="text-center"  rowspan="2">OG</th>
        <th class="text-center"  >Sph</th>
        <th class="text-center"  >Cyl</th>
        <th class="text-center" >Axe</th>
        <th class="text-center"  >Add</th>
  </tr>

    <tr>

      <th class="text-center" contenteditable='true' > </th>
      <th class="text-center"  contenteditable='true'></th>
      <th class="text-center"  contenteditable='true'></th>
      <th class="text-center" contenteditable='true'></th>
      <th class="text-center" contenteditable='true' ></th>
      <th class="text-center"  contenteditable='true'></th>
      <th class="text-center"  contenteditable='true'></th>
      <th class="text-center" contenteditable='true' ></th>



  </tr>

  </tbody>
  </table>

  <tr>
    <td><i>Prix de la monture : </i> <i contenteditable='true'>...</i></td>

    </tr>
    <tr>
    <td><i>Nature des verres achetés : </i> <i contenteditable='true'>...</i></td>
    </tr>

    <tr>
    <td><i>Prix des verres achetés : </i> <i contenteditable='true'>...</i></td>
    </tr>

    <tr>
    <td><i>Prix des verres en blanc :  </i> <i contenteditable='true'>...</i></td>
    </tr>
    <tr>
      <td > <i style="font-size: 20px;">OBSERVATION  :</i><i contenteditable='true'>...</i></td>
    </tr>

    <tr>
      <td><i>Téléphone :  </i><i contenteditable='true'>...</i></td>
      </tr>
      <tr >
        <th  style="text-align-last: right;">Opticien :<i contenteditable='true'>...</i></th>
      </tr>


      <tr>
        <td>Coupon Opticien</td>
      </tr>
      <tr>
        <td><strong>Référence du BS :</strong> </td>
      </tr>

  <table border="1" class="container">

  <tbody>
    <tr style="height: 80px; vertical-align: top;" >
      <th>Date du passage pour Contre Visite : <br> <p contenteditable='true'>...</p></th>
      <th>Signature Adhérent :  </th>
  </tr>
  </tbody>
  </table>
  *************************************************************************************
  <tr>
    <td>Coupon Opticien</td>
  </tr>
  <tr>
    <td><strong>Référence du BS :</strong> </td>
  </tr>
  <table border="1" class="container">

    <tbody>
      <tr style="height: 80px; vertical-align: top;" >
        <th>Date du passage pour Contre Visite : <br> <p contenteditable='true'>...</p></th>
        <th>Signature Adhérent : </th>
    </tr>
    </tbody>
    </table>
    <tr>
      <td>
<strong>NB :</strong>  A garder ce coupon pour justif en cas de besoin
      </td>
    </tr>

  </tbody>
</table>

</pre>
</div>
</div>



