<div class="content w-full" style="padding: 20px;">
<div class="containerr">
  <div class="right-div">
    <h4>Rapport</h4>
    <iframe [src]="rapport" width="100%" height="500px" frameborder="0"></iframe>
  </div>

  <div class="left-div">
    <h4>Ordonnance</h4>
    <iframe [src]="ordenance" width="100%" height="500px" frameborder="0"></iframe>
  </div>

  <div class="right-div">
    <h4>Bulletin</h4>
    <iframe [src]="bulletin" width="100%" height="500px" frameborder="0"></iframe>
  </div>


</div>
<div>
<br/>
</div>
</div>


