<div class="content w-full " style="padding: 30px;">

      <div class="filter-container">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Filtrer par User</span>
          <input type="text" class="form-control" id="filterName" placeholder="Nom" aria-label="Filter by Name:" aria-describedby="basic-addon1" [(ngModel)]="filterName" (input)="filter()" />
        </div>
      </div>


        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Action</th>
              <th scope="col">Date</th>
              <th scope="col">User Id</th>
              <th scope="col">Username</th>
              <th scope="col">Document Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let historique of paginatedList">
              <th scope="row">{{ historique.id }}</th>
              <td>{{ historique.action }}</td>
              <td>{{ historique.time }}</td>
              <td>{{ historique.user?.id}}</td>
              <td>{{ historique.user?.username}}</td>
              <td>{{ historique.document?.id }}</td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalPages > 1">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage == 1">
              <a class="page-link" (click)="goToPage(1)">First</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage == 1">
              <a class="page-link"  (click)="goToPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage == page">
              <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage == totalPages">
              <a class="page-link"  (click)="goToPage(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage == totalPages">
              <a class="page-link" (click)="goToPage(totalPages)">Last</a>
            </li>
          </ul>
        </nav>
      </div>
